<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <div>
                <h2 class="m-4 font-weight-bold">Detalle de libro</h2>
                <table class="table text-center">
                    <colgroup>
                        <col />
                        <col />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="font-weight-bold">Titulo</td>
                            <td>{{libro.titulo}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Autor</td>
                            <td>{{libro.autor}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Editorial</td>
                            <td>{{libro.editorial}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Fecha de publicación</td>
                            <td>{{libro.fechaPublicacion}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Precio</td>
                            <td>{{libro.precio}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class=" mt-5">
                <a class="btn btn-lg btn-secondary font-weight-bold border-dark bg-dark" href="/lista">Volver</a>
            </div>
        </div>
    </div>
</div>


